.createPostBtn {
    display: block;
}

.post{
    width: 50%;
    margin: 25px 0px;
}

.post img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.likeBtn{
    width: 53vmin;
    max-width: 22rem;
    height: 20vmin;
}

