<<<<<<< HEAD
<<<<<<< HEAD
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: red;
}

.dialogsItems {
    color: aqua;
}

.dialog {
    margin: 20px;
    a {
        color: white;
        text-decoration: none;
    }
}

.messages {
    color: bisque;
}

.message {
    margin: 15px;
=======
=======
>>>>>>> bb68ec668aaab0638c7113139fc208a3b7d55436
.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
}

.messages{
    padding: 10px;
<<<<<<< HEAD
>>>>>>> bb68ec668aaab0638c7113139fc208a3b7d55436
=======
>>>>>>> bb68ec668aaab0638c7113139fc208a3b7d55436
}